:root {
  --red: hsl(7, 90%, 63%);
  --green: #3aee8e;
  --blue: hsl(199, 85%, 74%);
  --yellow: #fac05eff;
  --orange: #f79d84ff;
  --darkBlue: rgb(4, 12, 20);
  --deepBlueOpac: rgba(8, 15, 25, 0.8);
  --darkBlueMidOpac: rgba(9, 18, 20, 0.75);
  --deepBlueMidOpac: rgba(10, 26, 46, 0.5);
  --deepBlueVeryOpac: rgba(10, 26, 46, 0.9);
  --gray: #d2d2dc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: var(--gray);
}

html {
  height: 100%;
  font-size: 17px;
  scroll-behavior: smooth;
}

body {
  background-image: url("./otherLogoAndImg/backgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  scroll-behavior: smooth;
}

/* //// general //// */
.green {
  color: var(--green);
}

.underline {
  text-decoration: underline;
}
.noUnderline {
  text-decoration: none;
}

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

.red {
  color: var(--red);
}

.bold {
  font-weight: bold;
}

.orange {
  color: var(--orange);
}

.rampart {
  font-family: "Rampart One";
}

h3 {
  margin-bottom: 1.4rem;
}

h2 {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 1.85rem;
}

h3 {
  font-weight: bold;
  font-size: 1.65rem;
}

h4 {
  font-size: 1.4rem;
  margin-top: 20px;
  text-align: center;
}

.small {
  font-size: 0.9rem;
}
.vSmall {
  font-size: 0.8rem;
}

main {
  min-height: 100%;
  position: relative;
}

span {
  color: inherit;
}

#sectionContainer {
  height: 100%;
  margin-left: 154px;
  padding: 2% 0;
}

/* ///// sidebar ////// */

aside {
  height: 100vh;
  position: fixed;
  width: 154px;
  text-align: center;
}

.homeButtonGreaterDiv {
  background-color: var(--darkBlue);
  padding: 30px 0px;
}

.homeButtonContainer {
  width: 90%;
  margin: 0 auto;
}
.logoContainer {
  margin: 0 auto 20px auto;
  width: calc(0.8 * 154px);
}

.logoContainer img {
  height: auto;
  width: 100%;
  min-width: 100%;
}

.name {
  font-family: "Praise", cursive;
  color: var(--yellow);
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.homeButtonContainer > p:nth-child(3) {
  font-size: 1.2rem;
}

#asideSecondContainer {
  height: 100%;
  background-color: var(--deepBlueOpac);
}

#asideSecondContainer a {
  color: white;
}

nav div {
  border-top: 1px solid;
  font-size: 1.4rem;
  padding: 1rem;
}

nav div:last-child {
  border-bottom: 1px solid;
}

.iconAsideDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.asideIcon {
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
}

.asideIcon:hover {
  background-color: var(--green);
}

.asideIcon:first-child {
  -webkit-mask: url("./asideLogo/github.svg") no-repeat center;
  mask: url("./asideLogo/github.svg") no-repeat center;
}
.asideIcon:nth-child(2) {
  -webkit-mask: url("./asideLogo/linkedin.svg") no-repeat center;
  mask: url("./asideLogo/linkedin.svg") no-repeat center;
  margin-bottom: 2px;
}
.asideIcon:nth-child(3) {
  -webkit-mask: url("./asideLogo/email.svg") no-repeat center;
  mask: url("./asideLogo/email.svg") no-repeat center;
  margin-top: 2.3px;
}

/* ///// sections //////*/

div.section {
  margin: 0 auto;
  padding: 3rem 0;
  width: 90%;
  max-width: 1250px;
}

section {
  height: 100%;
  background-color: var(--deepBlueMidOpac);
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* //// About section  ///// */

.timelineGreaterDiv {
  display: flex;
  height: 80%;
  width: 45%;
  justify-content: center;
  position: relative;
}
.timelineGreaterDiv .sectionText {
  padding: 30px 0
}
.timeEvent > p {
  color: white;
}

#dateContainer {
  position: relative;
  height: 485px;
  width: 64px;
  right: 0;
  margin: 0 30px;
  border-left: 1px solid var(--green);
}

.date {
  color: var(--green);
  font-size: 1rem;
  font-weight: 600;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 3px;
  position: absolute;
  border-top: 1px solid var(--green);
  width: 80%;
}

.date:nth-of-type(1) {
  top: 0%;
}

.date:nth-of-type(2) {
  top: 33.33%;
}

.date:nth-of-type(3) {
  top: 66.66%;
}

.date:nth-of-type(4) {
  top: 100%;
}

#timelineContainer {
  position: relative;
  width: 80px;
  height: 100%;
}

#timeline {
  width: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

#timeline img {
  height: 485px;
  width: auto;
}

.dateCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid var(--darkBlue);
}

.dateCircle:hover {
  box-shadow: 0 0 20px 8px var(--green);
}

.tooltip {
  position: relative;
  height: 100%;
  width: 100%;
}

.tooltip > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 15px;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  background: var(--darkBlue);
  color: var(--gray);
  text-align: left;
  display: none;
  line-height: 1.5;
  font-weight: light;
  z-index: 1;
}
.tooltip:after {
  content: "";
  position: absolute;
  left: 100%;
  margin-left: -5px;
  top: 50%;
  transform: translateY(-50%);
  /* the arrow */
  border: 10px solid #000;
  border-color: transparent black transparent transparent;
  display: none;
}

.tooltip:hover > span,
.tooltip:hover:after {
  display: block;
}

.justice {
  top: 7%;
  background-image: url("./otherLogoAndImg/justice.png");
}

.acasi {
  top: 37%;
  background-image: url("./otherLogoAndImg/acasi.png");
}

.codecademy {
  top: 71%;
  background-image: url("./otherLogoAndImg/codecademy.png");
  border: 1px solid white;
}

.wild {
  top: 84%;
  background-image: url("./otherLogoAndImg/wild.png");
}

.timeEvents {
  position: relative;
  width: 250px;
  margin-left: 25px;
  text-align: right;
}

.timeEvents div {
  right: 0;
}

.timeEvent {
  position: absolute;
  display: flex;
}
.eventRight {
  width: 200px;
}
.eventLeft .timeEvent {
  right: -10px;
}

.timeEvents p:nth-child(2) {
  margin-left: 10px;
  color: var(--gray);
}

.firstLines {
  top: 59%;
}

.portfolio1 {
  top: 79%;
}
.portfolio2 {
  top: 89%;
}

.sectionText {
  background-color: var(--darkBlueMidOpac);
  padding: 60px 30px;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.sectionText p {
  color: var(--gray);
  line-height: 1.5;
  margin-top: 1rem;
}

.timeEventProject {
  font-weight: 600;
}

/* ///// Section 2 : technical stack / skills //////*/

#skills {
  flex-direction: column;
  padding: 3rem;
  color: var(--gray);
}

#skills h3 {
  margin-top: 2.5rem;
  color: var(--gray);
}
#skills h2 {
  margin-bottom: 0;
}

.stacksContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* LAST CHECK */
.stackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.stackLogoContainer {
  max-width: 60px;
  margin-bottom: 0.4rem;
}

.stackLogoContainer img {
  max-width: 100%;
}

/* .stacksContainer p {
  position: relative;
}

.stackContainer span {
  position: absolute;
  right: -12px;
} */
.basicK {
  margin-left: .6rem
}

#skills > p {
  margin-top: 2rem;
}

/* ///// portfolio section //// */

#portfolio {
  flex-direction: column;
  padding: 3rem;
}

#portfolio p,
#portfolio h4 {
  color: white;
}

.gifsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.gifContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portfolio h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.gifContainer {
  display: flex;
  flex-direction: column;
}

.gif {
  height: 329px;
  width: 371px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.gifContainer:first-of-type h3 {
  color: var(--blue);
}

#dealfindergif {
  background-image: url("./gifs/dealfinderGif.gif");
  border: 2px solid var(--blue);
}

#decodagegif {
  background-image: url("./gifs/decodagegif.gif");
  border: 2px solid var(--red);
}

.projectLogoContainer {
  width: 35px;
}

.gifContainer img {
  width: 60px;
}

.gifText {
  position: absolute;
  transition: 0.5s;
  top: 100%;
  border-radius: 0;
  padding: 1rem 1.4rem;
  box-sizing: border-box;
  background-color: var(--deepBlueVeryOpac);
  height: 67%;
}

.gifTextInnerDiv {
  position: relative;
  height: 100%;
}

.gifIcon {
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: -0.8rem;
  -webkit-mask: url("./asideLogo/github.svg") no-repeat center;
  mask: url("./asideLogo/github.svg") no-repeat center;
  z-index: 2;
}

.gifIcon:hover {
  background-color: var(--green);
}

.gif:hover > .gifText {
  top: 33%;
}

.gifText p {
  color: inherit;
  margin: 0.5rem 0;
}

#visitNowDeal {
  font-size: 1.45rem;
  color: var(--blue);
  text-align: center;
  position: relative;
  display: table;
  margin: auto;
  width:100%
}

.linkDiv {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  margin: 0 auto;
}

#visitNowDeal span {
  position: absolute;
  top: -4px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
}

@keyframes bounce {
  100% {
    top: 0;
  }
}

#visitNowDeal:hover > a,
#visitNowDeal:hover span,
#tryDecodage:hover > a,
#tryDecodage:hover span {
  color: var(--green);
}

#tryDecodage {
  font-size: 1.45rem;
  color: var(--green);
  text-align: center;
  position: relative;
  display: table;
  margin: auto;
}

#tryDecodage span {
  position: absolute;
  top: -4px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
}

.projectStackDiv {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.projectStackDiv p {
  margin-top: 1rem;
}

/* /// contact section // */
#contactSection {
  align-items: stretch;
}

#contact {
  height: 300px;
}

#contact div:first-child {
  width: 50%;
}

#contactInfoContainer {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#contactInfoContainer div {
  display: flex;
  min-width: 300px;
  max-width: 300px;
  padding: 15px 20px;
  background-color: var(--darkBlue);
  border-radius: 30px;
  justify-content: center;
  gap: 20px;
}

#contactInfoContainer p {
  color: white;
}

#mobileLogo {
  display: none;
}

#contactInfoContainer > :last-child {
  display: none
}

@media screen and (max-width: 1300px) {

  #skills, #portfolio {
    padding: 3rem 2rem;
  }

  .timeEvents {
    display: none;
  }

  #dateContainer {
    margin-right: 0;
  }

  .gif {
    height: 259.91px;
    width: 293.09px;
  }

  .gifText {
    height: 78%;
    padding: .7rem .9rem;
  }
  .linkDiv {
    bottom: 4px;}

    .gifIcon{
      right:-5px;
      bottom:5px
    }
  .gif:hover > .gifText {
    top: 22%;
  }
  .gifTextInnerDiv p:nth-child(2) {
    font-size: .93rem;
  }
  .gifTextInnerDiv p:nth-child(3) {
    font-size: .76rem;
  }

  #contactInfoContainer div {
    min-width: 260px;
    max-width: 260px;
    font-size: 0.9rem;
  }
}

.sectionText2 {
  background-color: var(--darkBlueMidOpac);
  padding: 60px 30px;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {

  aside {
    display: none;
  }

  #sectionContainer {
    width: 100%;
    margin: 0 auto;
  }

  #mobileLogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--darkBlueMidOpac);
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  #contactInfoContainer > :last-child {
    display: flex
  }
}

@media screen and (max-width: 800px) {

  html {
    font-size: 16px;
  }

 /* body {
      background-image: url("./otherLogoAndImg/mobilebg.jpg");
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: cover;
  }*/

  div.section {
    width: 97.5%;
  }

  .timelineGreaterDiv {
    display: none;
  }
  .sectionText, .sectionText2 {
    width: 100%;
  }
  .stackLogoContainer {
    max-width: 40px;
  }
  h2 {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 1.55rem;
  }
  h3 {
    font-size: 1.44rem;
  }

  #contact,
  .gifsContainer {
    flex-direction: column;
  }

  .gifsContainer {
    width: 100%;
  }
  .projectStackDiv {
    width: 100%;
  }

  .gifsContainer > :nth-child(2) {
    margin-top: 2rem;
  }
  .gifsContainer h3 {
    margin-bottom: 1rem;
  }

  #contact > div {
    width: 100%;
    min-height: 50%;
    max-height: 50%;
  }

  #contact > div:first-child {
    width: 100%;
    min-height: 50%;
    max-height: 50%;
  }

  #contact {
    height: 600px;
  }
  #contactInfoContainer {
    align-items: center;
  }



}
