:root {
  --red: #ee6352ff;
  --greenSaturated: #3aee8e;
  --green: #59cd90ff;
  --blueSaturated: hsl(199, 85%, 74%);
  --blue: #3fa7d6ff;
  --yellow: #fac05eff;
  --orangeSaturated: hsl(13, 98%, 74%);
  --orange: #f79d84ff;
  --lightOrange: hsl(13, 98%, 84%);
  --darkBlue: rgb(4, 12, 20);
  --deepBlueOpac: rgba(8, 15, 25, 0.8);
  --darkBlueMidOpac: rgba(9, 18, 20, 0.75);
  --darkBlueveryOpac: rgba(9, 18, 20, 0.95);
  --deepBlueMidOpac: rgba(10, 26, 46, 0.5);
  --deepBlueVeryOpac: rgba(10, 26, 46, 0.90);
  --lightDeepBlueMidOpac: rgba(17, 35, 64, 0.5);
  --gray: #d2d2dc;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: white;
}

html {
  height: 100%;
  font-size: 17px;
  scroll-behavior: smooth;
}

body {
  background-image: url("./otherLogoAndImg/backgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

main {
  min-height: 100%;
  overflow: auto;
  position: relative;
}
.orange {
  color: var(--orange)
}

/* ///// sidebar ////// */
aside {
  height: 100vh;
  position: fixed;
  width: 154px;
  text-align: center;
}
.homeButtonGreaterDiv {
  background-color: var(--darkBlue);
  padding: 30px 0px;
}

.homeButtonContainer {
  width: 90%;
  margin: 0 auto;
}
.logoContainer {
  margin: 0 auto 20px auto;
  width: calc(.8 *154px);
}

.logoContainer img {
  height: auto;
  width: 100%;
  min-width: 100%;
}

.name {
  font-family: "Praise", cursive;
  color:var(--yellow);
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.homeButtonContainer > p:nth-child(3) {
  font-size: 1.2rem;
  color: var(--gray);
}

#asideSecondContainer {
  height: 100%;
  background-color: var(--deepBlueOpac);
}

nav div {
  border-top: 1px solid var(--gray);
  font-size: 1.4rem;
  padding: 1rem;
}

nav div:last-child {
  border-bottom: 1px solid var(--gray);
}

.iconAsideDiv {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.asideIcon {
  width:20px;
  height: 20px;
  background-color: white;
  cursor: pointer;

}
.asideIcon a {
  height:100%;
  width:100%;
  cursor: pointer;
  z-index: 2;
}
.asideIcon:hover {
  background-color: var(--greenSaturated);
}

.asideIcon:first-child{
  -webkit-mask: url("./asideLogo/github.svg") no-repeat center;
  mask: url("./asideLogo/github.svg") no-repeat center;
}
.asideIcon:nth-child(2){
  -webkit-mask: url("./asideLogo/linkedin.svg") no-repeat center;
  mask: url("./asideLogo/linkedin.svg") no-repeat center;
  margin-bottom: 2px;
}
.asideIcon:nth-child(3){
  -webkit-mask: url("./asideLogo/email.svg") no-repeat center;
  mask: url("./asideLogo/email.svg") no-repeat center;
  margin-top: 2.3px;
}



/* ///// sections //////*/

#sectionContainer {
  height: 100%;
  overflow: auto;
  margin-left: 154px;
}
.section {
  margin: 0 auto;
  padding:5% 0;
 /*  width:90%;
  max-*/width: 1150px;
}

/* //// About section  ///// */

.section:first-of-type{
}

section {
  height:100%;
  background-color: var(--deepBlueMidOpac);
  margin: 0 auto;
  width: 90%;
  display:flex;
  align-items:center;
  justify-content: center;
  box-sizing: border-box;
}

.timelineGreaterDiv {
  display: flex;
  height: 80%;
  width: 45%;
  justify-content: center;
  position:relative;
}

#dateContainer {
  position:relative;
  height:581px;
  width: 64px;
  right:0;
  margin: 0 30px;
  border-left: 1px solid var(--greenSaturated)
}

.date {
  color: var(--greenSaturated);
  font-size: 1rem;
  font-weight: 600;
  left:0;
  right:0;
  text-align: center;
  padding-top: 3px;
  position:absolute;
  border-top: 1px solid var(--greenSaturated);
  width:80%;

}


.date:nth-of-type(1){
top :0%
}
.date:nth-of-type(2){
top:33.33%
}
.date:nth-of-type(3){
top:66.66%
}
.date:nth-of-type(4){
top:100%
}

.timelineContainer {
  position: relative;
  width: 80px;
  height:100%;
}
#timeline {
  width: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height:100%
}

#timeline img {
  height: 581px;
  width:auto;
}

.dateCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid var(--darkBlue);
}

.dateCircle:hover{
  box-shadow: 0 0 20px 8px var(--greenSaturated)

}
.tooltip {
  position: relative;
  height: 100%;
  width: 100%;
}
.tooltip > span{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  left:100%;
  margin-left:15px;
  width:250px;
  padding:20px;
  border-radius:10px;
  background:var(--darkBlue);
  color: var(--gray);
  text-align:left;
  display:none;
  line-height: 1.5;
  font-weight: light;
  z-index: 1;
}
.tooltip:after {
  content: "";
  position:absolute;
  /* position tooltip correctly */
  left:100%;
  margin-left:-5px;
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  /* the arrow */
  border:10px solid #000;
  border-color: transparent black transparent transparent;
  display:none;
}

.tooltip:hover > span , .tooltip:hover:after{
  display:block;
}

.justice {
  top: 8%;
  background-image: url("./otherLogoAndImg/justice.png");
}

.acasi {
  top: 38%;
  background-image: url("./otherLogoAndImg/acasi.png");
}

.codecademy {
  top: 72%;
  background-image: url("./otherLogoAndImg/codecademy.png");
  border: 1px solid white
}

.wild {
  top: 85%;
  background-image: url("./otherLogoAndImg/wild.png");
}

.bold {
  font-weight: bold;
}

.timeEvents {
  position: relative;
  width:250px;
  margin-left: 25px;
  text-align: right;
}

.timeEvents div {
  right: 0
}

.small {
  font-size: .9rem;
}
.vSmall {
  font-size: .8rem;
}

.timeEvent {
  position: absolute;
  display:flex;
}
.eventRight {
  width:200px;
}
.eventLeft .timeEvent {
right:-10px
}

.timeEvents p:nth-child(2){
  margin-left: 10px;
  color: var(--gray)
}

.firstLines {
  top: 60%;
}

.portfolio1{
  top: 80%
}
.portfolio2{
  top:90%
}

.sectionText{
  background-color: var(--darkBlueMidOpac);
  padding:60px 30px;
  width:100%;
  min-height:100%;
  max-height:100%;
  box-sizing: border-box;
}
.sectionText p{
  color: var(--gray);
  line-height: 1.5;
  margin-top: 1rem;

}

 h2 {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 1.85rem;
}


 h3 {
  font-weight: bold;
  font-size: 1.65rem;
}

#about {
  position:relative;
  display:flex;
  justify-content: space-between;
}

.blue {
  color: var(--blueSaturated)
}

.yellow {
  color: var(--yellow)
}

.red {
  color: var(--red)
}

.underline {
  text-decoration: underline;
}
.noUnderline {
  text-decoration: none;
}
.timeEventProject {
  font-weight: 600;
}

.green {
  color: var(--greenSaturated)
}

/* ///// Section 2 : technical stack / skills //////*/

#skills {
  flex-direction: column;
  padding:3rem;
}

#skills h3 {
  margin-top: 2.5rem;
  margin-bottom: 1.2rem;
}
#skills h3:first-of-type {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.stacksContainer {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.stackContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.stackLogoContainer{
  max-width: 60px;
  margin-bottom: .4rem;
}
.stackLogoContainer img {
  max-width: 100%;
}
.stackLogoContainer p{
  text-align: center;
}

#skills > p {
  margin-top: 3rem;
}

/* ///// portfolio section //// */

#portfolio {
  flex-direction: column;
  padding: 3rem;
}

.gifsContainer {
  display:flex;
  justify-content: space-evenly;
  width:100%
}

.gifContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
}
#portfolio  h3{
  display:flex;
  align-items:center;
  gap:8px;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.gifContainer {
  display:flex;
  flex-direction: column;
}

.gif {
  height: 329px;
  width:371px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  position:relative;
  overflow: hidden;
}

.gifContainer:first-of-type h3 {
  color: var(--blueSaturated)
}
.rampart {
  font-family: "Rampart One";
}


#dealfindergif {
  background-image: url("./gifs/dealfinderGif.gif");
  border: 2px solid var(--blueSaturated);
}

#decodagegif {
  background-image: url("./gifs/decodagegif.gif");
  border: 2px solid var(--red);
}

span {
  color: inherit;
}

.projectLogoContainer {
  width:35px;
}
.gifContainer img {
  width:60px;
}

#project1span {
  font-family: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;

}
#project2span {
  font-family: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.gifText {
  position:absolute;
  transition: .5s;
  bottom:-100%;
  border-radius: 0;
  padding: 1rem 1.4rem;
  box-sizing: border-box;
  height:67%;
}

#gifTextInnerDiv{
  position:relative;
}
#gifTextInnerDiv > button {
  position:absolute;
  bottom:0;
  right:-14px;
  z-index: 2;
  height: 25px;
  cursor: pointer;
  border:none;
  outline: none;
  background-color: transparent;
}

#githubLogo{
  max-height: 100%;
  width: auto;
  z-index: 3;
}

.gif:hover > .gifText {
bottom: 0%;
background-color: var(--deepBlueVeryOpac);
}


.gifText p{
  color: inherit;
  margin: .5rem 0
}

#visitNowDeal {
  font-size: 1.45rem;
  color: var(--blueSaturated);
  text-align: center;
  position: relative;
  display:table;
  margin: auto;
}

#visitNowDeal span {
  position: absolute;
  top: -4px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
}

@keyframes bounce{
  100%{
    top: 0;
  }
}

#visitNowDeal:hover > a, #visitNowDeal:hover span,
#tryDecodage:hover > a, #tryDecodage:hover span  {
  color:var(--green);
}

#tryDecodage {
  font-size: 1.45rem;
  color: var(--greenSaturated);
  text-align: center;
  position: relative;
  display:table;
  margin: auto;
}

#tryDecodage span {
  position: absolute;
  top: -4px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
}


h4 {
  font-size:1.4rem;
  margin-top: 20px;
  text-align: center;
}

.projectStackDiv  {
  width:80%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}
.projectStackDiv p {
  margin-top: 1rem;
}

/* /// contact section // */
#contactSection {
  height: 300px;
  align-items: stretch;
}
#contact {
  height:100%
}
#contact div:first-child {
  width:50%
}
.contactInfoContainer {
  width: 50%;
  min-height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:40px
}

.contactInfoContainer div {
  display:flex;
  min-width: 300px;
  max-width: 300px;
  padding:15px 20px;
  background-color: var(--darkBlue);
  border-radius: 30px;
  justify-content: center;
  gap:20px;
}

#mobileLogo {
  display:none
}

@media screen and (max-width: 1300px) {
  .section {
    width: 90%
  }

  #skills{
    padding:3rem 2rem;
  }
  #portfolio{
    padding:3rem 2rem;
  }

  .timeEvents {
    display:none
  }
  #dateContainer{
    margin-right: 0;
  }
  .gif {
    height:259.91px;
    width:293.09px
  }
  .contactInfoContainer div {
    min-width: 260px;
    max-width: 260px;
    font-size: .9rem;
}
}



@media screen and (max-width: 1000px) {
  aside {
    display:none;
  }
  #sectionContainer{
    width: 100%;
    margin: 0 auto;
  }
  #mobileLogo {
    display:flex;
    justify-content: center;
    margin-top: 20px;
  }
#mobileLogoContainer{
  display:flex;
  align-items: center;
  gap:15px
  }
 /*#mobileLogoContainer p:first-child{


  }
#mobileLogoContainer p:first-child{


  }
 */

}